body {
	background-color: #42a1f4;
	text-align: center;
	margin: 0 auto;
	font-family: Comic Sans;
}

table {
	margin: 5% 1%;
	border-width: 1px;
	border-style: solid;
	width: 98%;
}

td {
	align-content: center;
	padding: 1%;
	overflow: visible;
	width: 10%;
	height: 10%;
}
input {
	background-color: #a2bae5;
}
#td1 {
	background-color: #a2bae5;
	font-style: italic;
	text-shadow: 2px 2px 3px #16ff16;
	font-size: 1.25rem;
}
#por {
	background-color: #a2bae5;
	font-style: italic;
	font-size: 1.25rem;
}
#results {
	background-color: #a2bae5;
	font-style: italic;
	font-size: 1.25rem;
}

#export{
	background-color: #003996;
	font-size: 1.25rem;
}

tr.jaja {
	background-color: #a2bae5;
	font-style: italic;
	font-size: 1.25rem;
}

.subir{
    padding: 5px 10px;
    background: #606060;
    color:#fff;
    border:0px solid black;
    border-radius: 1%;
}