body {
	background-color: #42a1f4;
	text-align: center;
	margin: 0 auto;
	font-family: Comic Sans;
}

table {
	margin: 3% 1%;
	border-width: 1px;
	border-style: solid;
	width: 98%;
}

td {
	align-content: center;
	padding: 1%;
	overflow: visible;
	width: 10%;
	height: 10%;
}
input.jiji {
	background-color: #a2bae5;
	width: 1.25rem;
	height: 1.25rem;
}
#td1 {
	font-style: italic;
	font-size: 1.25rem;
}
#por {
	font-style: italic;
	font-size: 1.25rem;
}
#results {
	font-style: italic;
	font-size: 1.25rem;
}

#export{
	font-size: 1.25rem;
}
}

.subir{
    padding: 5px 10px;
    background: #ff1616;
    color:#fff;
    border:0px solid black;
    border-radius: 1%;
}

#puti ul {
    list-style:none;
    margin:0% 1% 2%;
    padding:1%;
}

#puti ul a {
    display:block;
    color:#ff1616;
    padding:10px;
}

#puti ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#puti ul li:hover {
    background:#ff1616;
}

#puti ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

#puti ul ul li {
    float:none;
    width:150px
}

#puti ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#puti ul li:hover > ul {
    display:block;
}