body {
	background-color: #42a1f4;
	text-align: center;
	margin: 0 auto;
	font-family: Comic Sans;
}
#tablePokemons {
	margin: 3% 1%;
	border-width: 1px;
	border-style: solid;
    border-color: blue;
	width: 98%;
    z-index: 2;
}

#resumen {

}

#ej {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
}

#menu {
    margin-bottom: 3%;
    border-style: dotted;
    border-color: red;
    border-width: 3px;
}

#tdMatriz{
    border-width: 0px;
}

td {
	align-content: center;
	padding: 1%;
	overflow: visible;
	width: 10%;
	height: 10%;
    border-color: blue;
    border-width: 1px;
    border-style: solid;
}

input.jiji {
	background-color: #a2bae5;
	width: 1.75rem;
	height: 1.75rem;
    margin: 0% 1%;
}
#td1 {
	font-style: italic;
	font-size: 1.25rem;
}
#por {
	font-style: italic;
	font-size: 1.25rem;
}
#results {
	font-style: italic;
	font-size: 1.25rem;
}

#padre {
    text-align: center;
}

#hijo, #export {
    background-color: blue;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

.subir{
    padding: 5px 10px;
    background: #ff1616;
    color:#fff;
    border:0px solid black;
    border-radius: 1%;
}
.contenedor {
    display: flex;
    width: 16%;
    position: fixed;
    top: 4%;
    height: 3%;
    background-color: blue;
    padding: 0.75rem;
}
.contenido {
    width: 14%;
}
.Personas { 
    list-style: none; }
.fondo {
    font-size: 16rem;
    text-align: center;
    margin: 15% 25%;
    position: fixed;
    top: 0%;
    opacity: 0.25;
    font-weight: bolder;
    font-family: fantasy;
    z-index: 1;
}