body {
	background-color: #42a1f4;
	text-align: center;
	margin: 0 auto;
	font-family: Comic Sans;
}

table {
	margin: auto;
	border-width: 1px;
	border-style: solid;
}

td {
	align-content: center;
	padding: 1%;
	overflow: auto;
}

